<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Registrar</title>
</head>
<body>
    <h1>Registrar</h1>
    <form method="POST">
        <!-- Adicione aqui os campos necessários para o registro -->
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Registrar</button>
    </form>
    <p>Já tem uma conta? <a href="{{ url_for('login') }}">Faça login aqui</a>.</p>
</body>
</html>
