<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Ver Agendamentos</title>
</head>
<body>
    <div class="table-container">
        <h1>Agendamentos</h1>
        <table>
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Laboratório</th>
                    <th>Curso</th>
                    <th>Disciplina</th>
                    <th>Data</th>
                    <th>Período</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in agendamentos %}
                <tr>
                    <td>{{ agendamento.professor }}</td>
                    <td>{{ agendamento.laboratorio }}</td>
                    <td>{{ agendamento.curso }}</td>
                    <td>{{ agendamento.disciplina }}</td>
                    <td>{{ agendamento.data }}</td>
                    <td>{{ agendamento.periodo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
